html {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #3b3a36;
}
body {
  text-align: center;
  background: #e9ece5;
  margin: 0;
}

p {
  text-align: center;
  display: block;
}
#home>p {
  font-weight: bold;
  width: 60%;
  margin: auto;
  border: 3px solid #e9ece5;
  border-radius: 10px;
  padding: 20px;
}
br {
  line-height:150%;
}
#home,#portfolio,#contact {
    padding-top: 50px;
}
#hello-img {
  margin-top: 50px;
  margin-bottom: -90px;
}
.header-img {
  margin: -70px auto;
}
/*NOTE: anywhere where its says "transform" the code is pulled
from stackoverflow here: http://stackoverflow.com/questions/22352311/how-do-i-draw-a-diagonal-div
*/
#home-bottom {
  background-color: #99D9DB;
  z-index: -2;
  margin-top: -10%;
  padding-top: 11%;
  padding-bottom: 7%;
  position: relative;
  webkit-transform: skewY(2deg);
  -moz-transform: skewY(2deg);
  -ms-transform: skewY(2deg);
  -o-transform: skewY(2deg);
  transform: skewY(2deg);
}
#home {
  -webkit-transform: skewY(-7deg);
  -moz-transform: skewY(-7deg);
  -ms-transform: skewY(-7deg);
  -o-transform: skewY(-7deg);
  transform: skewY(-7deg);
  padding-bottom: 50px;
  background-color: #99D9DB;
  z-index: -1;
  position: relative;
}
#home > p {
  -webkit-transform: skewY(7deg);
  -moz-transform: skewY(7deg);
  -ms-transform: skewY(7deg);
  -o-transform: skewY(7deg);
  transform: skewY(7deg);
  margin-top: 25px;
  margin-bottom: 25px;
}
#cat-img {
  margin: -170px auto auto 90px;
  position: absolute;
}
#portfolio {
  clear: both;
  text-align: center;
}
#resume {
  padding-top: 50px;
  text-align: center;
  display: block;
}
nav {
  font-family: Tahoma, sans-serif;
  color: #eee5e5;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav > ul {
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #3b3a36;
  padding: 15px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
nav > ul > li {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}
nav > ul > li > a {
  font-weight: bold;
  text-decoration: none;
  color: #eee5e5;
  padding: 20px;
}
nav ul li > a:hover {
  color: #3b3a36;
  background-color: #99D9DB;
}
nav > ul > li:first-child {
  font-size: 1.5rem;
  margin-left: 20px;
  float: left;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #99D9DB;
}
nav > ul > li:first-child > a {
  color: #99D9DB;
}
nav > ul > li:first-child > a:hover {
  color: #99D9DB;
  background: none;
}
.horizontal-line1 {
  border-color: #b3c2bf;
  width:65%;
  margin-top: 3px;
}
.horizontal-line2{
  border-color: #b3c2bf;
  width: 50%;
  margin: 15px auto;
}
h1 {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
  display: block;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #b3c2bf;
}
.resume-box {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 3px solid #b3c2bf;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block;
}
.box{
  text-align: center;
  width: 70%;
  height: auto;
  margin: auto;
}
.icon-box {
  height: 50%;
}
.icon {
  margin: 10%;
  vertical-align: middle;
}
.title {
  text-decoration: bold;
  font-size: 1.2rem;
  margin: 10px;
}
.fade {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
.one-time {
  text-align: center;
  width: 40%;
  margin: 30px auto;
}
.portfolio-img {
  width: 100%;
  height: auto;

}
.project-img {
  width: 100%;
  height: auto;
}
footer {
  font-size: 0.7rem;
  text-align: center;
  background-color: #3b3a36;
  color: #e9ece5;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0;
}
footer > a {
  color: #e9ece5;
}
#formDiv {
	background-color: #b3c2bf;
	display: inline block;
	width: 500px;
	text-align: center;
	margin: auto;
  border-radius: 10px;
}
fieldset {
	border-style: none;
}
textarea {
	color: #AEB4A9;
	border-radius: 5px;
	padding: 5px;
	width: 400px;
}
input[type=text] {
	color: #3b3a36;
	border-radius: 5px;
	margin: 5px;
	border: 1px solid #e9ece5;
	padding: 5px;
}
input[type=button], input[type=submit]  {
	border-radius: 5px;
	color: #3b3a36;
	background-color: #e9ece5;
	border: 1px solid #3b3a36;
	margin: 10px;
	text-transform: lowercase;
}
#notification {
  padding: 10px;
}
