html {
  font-size: 1rem;
  font-family: Tahoma, sans-serif;
  color: #3b3a36;
}
body {
  text-align: center;
  background: #e9ece5;
}

p {
  display: inline-block;
  position: center;
  width: 60%;
  text-align: left;
}
br {
  line-height:150%;
}
#home,#portfolio,#contact {
    padding-top: 50px;
}
#portfolio {
  clear: both;
  text-align: center;
}
#resume {
  padding-top: 50px;
  text-align: center;
  display: block;
}
nav {
  font-family: Tahoma, sans-serif;
  color: #eee5e5;
  width: 100%;
  margin: 0;
  padding: 0;
}
nav > ul {
  position: fixed;
  list-style: none;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #3b3a36;
  padding: 15px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}
nav > ul > li {
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
}
nav > ul > li:first-child {
  font-size: 1.5rem;
  margin-left: 20px;
  float: left;
  font-weight: bolder;
  letter-spacing: 2px;
  color: #c0dfd9;
}
nav > ul > li > a {
  font-weight: bold;
  text-decoration: none;
  color: #eee5e5;
  padding: 20px;
}
nav ul li > a:hover {
  color: #3b3a36;
  background-color: #b3c2bf;
}
.horizontal-line1 {
  border-color: #b3c2bf;
  width:65%;
  margin-top: 3px;
}
.horizontal-line2{
  border-color: #b3c2bf;
  width: 50%;
  margin: 15px auto;
}
h1 {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
  display: block;
}
h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #b3c2bf;
}
.resume-box {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 3px solid #b3c2bf;
  border-radius: 10px;
  vertical-align: middle;
  display: inline-block;
}
.box{
  text-align: center;
  width: 70%;
  height: auto;
  margin: auto;
}
.icon-box {
  height: 50%;
}
.icon {
  margin: 10%;
  vertical-align: middle;
}
.title {
  text-decoration: bold;
  font-size: 1.2rem;
  margin: 10px;
}
.fade {
  text-align: center;
  width: 80%;
  margin: 30px auto;
}
.one-time {
  text-align: center;
  width: 40%;
  margin: 30px auto;
}
.portfolio-img {
  width: 100%;
  height: auto;

}
.project-img {
  width: 100%;
  height: auto;
}
footer {
  font-size: 0.7rem;
  text-align: center;
  background-color: #3b3a36;
  color: #e9ece5;
  padding: 10px;
}
