html {
  font-size: 1rem;
  font-family: Tahoma, sans-serif;
  color: #37392e;
}
body {
  text-align: center;
  background: #ddcecd;
  /*background: linear-gradient(#ddcecd,#28afb0);*/
  background-attachment:fixed;
  margin-top: 70px;   /*compensate for nav bar*/
}
p {
  display: inline-block;
  position: center;
  width: 60%;
  text-align: left;
}
/*nav------------------------------------------------*/
nav {
  font-family: Tahoma, sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;    /*put it at the very front*/
  height: 60px;
  background-color: #37392e;
  color: #eee5e5;
}
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li:first-child {
  font-size: 1.4rem;
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li > a {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #eee5e5;
}
/*-----------------------------------------*/
.horizontal-line1 {
  border-color: #37392e;
  width:80%;
  margin-top: 3px;
}
.horizontal-line2{
  border-color: #28afb0;
  width: 80%;
  margin-bottom: 0;
  margin-top: 0;
}
h1 {
  font-size: 1.7rem;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 0;
  z-index: 1;
}
h2 {
  margin-top: -12px;
  margin-bottom: 0;
  font-size: 1.2rem;
  text-align: center;
  color: #19647e;
  z-index: 2;
}



/*footer------------------------------------*/
footer {
  font-size: 0.7rem;
  text-align: center;
  background-color: #37392e;
  color: #eee5e5;
  padding: 10px;
}
